*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: 100vw;
}

ul{
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: red;

}

ul li{
  list-style: none;
}